@model Lab2_DiegoRamirez_DanielElias.Models.Client

@{
    ViewData["Title"] = "FinalOrder";
}

<h1>FinalOrder</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FinalOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIT" class="control-label"></label>
                <input asp-for="NIT" class="form-control" />
                <span asp-validation-for="NIT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
       alert("@TempData["alertMessage"]");
    </script>
}

    <div>
        <a asp-action="ExportTxt">GET FILE WITH ORDER</a>
    </div>

